@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root 
{
    --black:#333;
    --light-color:#cdaa7c;
    --box-shadow:0.5rem 1.5 rem rgba(0,0,0,.1);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;  
    
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}
header .logo img{
    height: 50px;
}
header .navbar a {
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    border: .1rem solid transparent;
}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    border: .1rem solid rgba(205, 170, 124,0.2);
}
header .icons i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}

/*per me i rrotllu kur ti preksh ikonat*/
header .icons i:hover{
    color: #fff;
    background: var(--light-color);
    transform: rotate(360deg);
}
header .icons #menu {
    display: none;
}
 /*navbar style end */


 @media (max-width: 991px){
      html {
        font-size: 55%;
      }
      header{
        padding: 1rem 2rem;
      }
      header .logo img{
        height: 7rem;
      }
 }
 @media (max-width: 768px){
   /* navbar media query*/
   header .logo img{
    height: 7rem;
   }
   header .icons #menu {
    display: inline-block;
   }
   header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
   }
 }

