body {
  font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display";
letter-spacing: 5px;
}
.bar{
  letter-spacing: 4px;
}
.display-container{
  /*max-width: 1600px;
  min-width: 500px;*/
  position: relative;
}
.img{
  width: 100%;
  height: 10%;
  object-fit: contain;
}
.content{
  max-width: 1100px;
}

.bar{
  letter-spacing: 4px;
}


.content{
  max-width: 1100px;
}

.menu{
  width: 100%;
}

.top{
  background-color: white;
  text-align: left;
}

.bar-item-btn{
  color: black;
  text-align: right;
}

.klasa1 {
  display: flex;
  align-items: right;
}

.about{
  width: 600px;
  height: 600px;
  float: right;
  margin: 10px;
  padding-left: 50px;
  
}

.display-bottomleft{
  position: absolute; /* Make the text a positioned element */
  left: 10px; /* Position the text 10 pixels from the left of the container */
  z-index: 1;
  color: white;
  bottom: 10px;
  left: 10px;
  font-size: 3em;
  display: flex;
  color: lightgray;
  font-family:sans-serif;
}

/*.menu{
  float: left; /* Float the image to the left 
  margin-right: 20px;

}

.center{
  float: right; /* Float the text to the right 
}*/

hr {
  width: 100%;
  clear: both;
  margin-top: 40px;
}

.content{
  padding-top: 40px;
  padding-right: 20px;
}

.row-padding{
  display: flex;
  padding-top: 10px;
  padding-left: 40px;
}

.image{
margin-right: 30px;
}

.menu {
  width: 50%;
  height: 600px;
  align-items: left;
  padding-top: 90px;
  padding-left: 30px;
}
.menutext {
  width: 50%;
  text-align: right;
  padding-left: 100px;
}

.contact{
  background-color: lightgray;
}

.menutext ul{
    list-style: none; /* Remove the default list styling */
}
 
.menu li {
  display: inline-block;  /* Display the list items as inline blocks */
  margin-right: 10px;  /* Add space between the list items */
}

.menutext li{
  color: rgb(128, 128, 128);
}

.center{
  padding-top: 40x;
}