body {
  font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display";
letter-spacing: 5px;
}
.bar{
  letter-spacing: 4px;
}
.display-container{
  max-width: 1600px;
  min-width: 500px;
}
.img{
  width: 100%;
  height: 30%;
  object-fit: contain;
}
.content{
  max-width: 1100px;
}

.bar{
  letter-spacing: 4px;
}

.display-container{
  max-width: 1600px;
  min-width: 500px;
}

.img{
  width: 1600;
  height: 800;
}

.content{
  max-width: 1100px;
}

.about{
  width: 600;
  height: 750;
}

.menu{
  width: 100%;
}

.top{
  background-color: white;
  text-align: left;
}
.bar-item-btn{
  color: black;
  text-align: right;
  
}
.klasa1 {
  display: flex;
  align-items: right;
}

.about{
  width: 600px;
  height: 600px;
  float: right;
  margin: 10px;
  padding-left: 50px;
  justify-content: space-evenly;
}

.display-container{
  position: relative;
}
.display-bottomleft{
  position: absolute; /* Make the text a positioned element */
  left: 10px; /* Position the text 10 pixels from the left of the container */
  z-index: 1;
  color: white;
  bottom: 10px;
  left: 10px;
  font-size: 3em;
  display: flex;
  color: lightgray;
  font-family:sans-serif;
}

/*.menu{
  float: left; /* Float the image to the left 
  margin-right: 20px;

}

.center{
  float: right; /* Float the text to the right 
}*/

hr {
  width: 100%;
  clear: both;
  margin-top: 40px;
}

.content{
  padding-top: 40px;
  padding-right: 20px;
}

.row-padding{
  display: flex;
}

.menu {
  width: 50%;
  align-items: left;
}
.menutext {
  width: 50%;
  text-align: right;
}

